


body{
    background-color: #2f6394 !important;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #2f6394;
    color: gainsboro;
    margin: 0px;
    border:0px;
    padding: 0px;
}
h1:hover{
    background-color:#111;
    color:yellow;
}

.topnav {
    background-color: lightcyan;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover{
    background-color: darkblue;
    color:yellow;
}

.topnav .icon {
    display: none;
}

h3{
    color: lightcyan;
    text-align: center;
}

p {
    color: lightcyan;
    text-align:  center;
   
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

